{% extends "base.html" %}
{% block div %}
<div class="content">
  <div class="breadcrumb-wrapper breadcrumb-contacts">
  <div>
    <h1>个人主页</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb p-0">
            <li class="breadcrumb-item">
            </li>
            <li class="breadcrumb-item">
              用户中心
            </li>
          </ol>
        </nav>
</div>
  </div>
<div class="bg-white border rounded">
  <div class="row no-gutters">
    <div class="col-lg-4 col-xl-4">
      <div class="profile-content-left profile-left-spacing pt-5 pb-3 px-3 px-xl-5">
        <div class="card text-center widget-profile px-0 border-0">
          <div class="card-img mx-auto rounded-circle">
            {% if user.id == 2 %}
            <img src="{{ url_for('static', filename='img/user/u3.jpg')}}" class="img-fluid rounded-circle" style="width:100px;height:100px;">
            {% elif user.id == 3 %}
             <img src="{{ url_for('static', filename='img/user/u8.jpg')}}" class="img-fluid rounded-circle" style="width:100px;height:100px;"/>
            {% else %}
            <img src="{{ url_for('static', filename='img/user/u7.jpg')}}" class="img-fluid rounded-circle" style="width:100px;height:100px;"/>
            {% endif %}
          </div>

          <div class="card-body">
            <h4 class="py-2 text-dark">{{ user.username }}</h4>
            <p>{{user.email}}</p>
<!--            <a class="btn btn-primary btn-pill btn-lg my-4" href="#">Follow</a>-->
          </div>
        </div>

        <div class="d-flex justify-content-between ">
          <div class="text-center pb-4">
            <h6 class="text-dark pb-2">2</h6>
            <p>好友</p>
          </div>

          <div class="text-center pb-4">
            <h6 class="text-dark pb-2">5</h6>
            <p>粉丝</p>
          </div>

          <div class="text-center pb-4">
            <h6 class="text-dark pb-2">12</h6>
            <p>关注</p>
          </div>
        </div>

        <hr class="w-100">

        <div class="contact-info pt-4">
          <h5 class="text-dark mb-1">相关信息</h5>
          <p class="text-dark font-weight-medium pt-4 mb-2">邮箱地址</p>
          <p>{{user.email}}</p>
          <p class="text-dark font-weight-medium pt-4 mb-2">电话号码</p>
          <p>未填写</p>
          <p class="text-dark font-weight-medium pt-4 mb-2">生日</p>
          <p style="margin-bottom:40px;">未填写</p>

                  <!-- To Do list -->
                  <div class="card card-default todo-table" id="todo">
                    <div class="card-header d-block pb-0 ">
                      <div class="todo-single-item mb-0" id="todo-input">
                        <form class="todo-form">
                          <div class="input-group mb-0">
                            <input type="text" class="form-control border-right-0" placeholder="添加待评论事项" required="" autofocus="">
                            <div class="input-group-append ml-0">
                              <button class="input-group-text border-0 btn bg-primary" type="submit">
                                <!--?xml version="1.0"?-->
                                <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 448 448" width="18" class="">
                                  <g><path d="m408 184h-136c-4.417969 0-8-3.582031-8-8v-136c0-22.089844-17.910156-40-40-40s-40 17.910156-40 40v136c0 4.417969-3.582031 8-8 8h-136c-22.089844 0-40 17.910156-40 40s17.910156 40 40 40h136c4.417969 0 8 3.582031 8 8v136c0 22.089844 17.910156 40 40 40s40-17.910156 40-40v-136c0-4.417969 3.582031-8 8-8h136c22.089844 0 40-17.910156 40-40s-17.910156-40-40-40zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"></path>
                                  </g>
                                </svg>
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>

                    <div class="card-body compact-to-do-list" data-simplebar="" style="height: 450px;">
                      <div class="todo-list" id="todo-list">
                        <div id="item" class="todo-single-item todo-item d-flex flex-row justify-content-between alert alert-dismissible fade show" role="alert">
                          <i class="mdi"></i>
                          <span>记得发帖：多幸运 在这个夏季欢笑奇遇 有你一起翻越海底 就是晴天</span>

                          <div class="task-content">
                            <span data-dismiss="alert" aria-label="Close">
                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"></path><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"></path></svg>
                            </span>
                          </div>
                        </div>

                        <div class="todo-single-item d-flex flex-row justify-content-between current alert alert-dismissible fade show" role="alert">
                          <i class="mdi"></i>
                          <span>发现音乐：本可以（电视剧《司藤》主题曲）</span>

                          <div class="task-content">
                            <span data-dismiss="alert" aria-label="Close">
                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"></path><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"></path></svg>
                            </span>
                          </div>
                        </div>



                        <div class="todo-single-item d-flex flex-row justify-content-between alert alert-dismissible fade show" role="alert">
                          <i class="mdi"></i>
                          <span>《我要我们在一起》主题曲好好听，莫文蔚的音色太具有辨识度啦。</span>

                          <div class="task-content">
                            <span data-dismiss="alert" aria-label="Close">
                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"></path><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"></path></svg>
                            </span>
                          </div>
                        </div>

                        <div class="todo-single-item d-flex flex-row justify-content-between alert alert-dismissible fade show" role="alert">
                          <i class="mdi"></i>
                          <span>发现音乐：给妈妈（电影《悲伤逆流成河》主题曲）</span>

                          <div class="task-content">
                            <span data-dismiss="alert" aria-label="Close">
                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"></path><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"></path></svg>
                            </span>
                          </div>
                        </div>

<!--                        <div class="todo-single-item d-flex flex-row justify-content-between alert alert-dismissible fade show" role="alert">-->
<!--                          <i class="mdi"></i>-->
<!--                          <span>Pellentesque blandit ut eros sed vehicula.</span>-->

<!--                          <div class="task-content">-->
<!--                            <span data-dismiss="alert" aria-label="Close">-->
<!--                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"></path><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"></path></svg>-->
<!--                            </span>-->
<!--                          </div>-->
<!--                        </div>-->

<!--                        <div class="todo-single-item d-flex flex-row justify-content-between alert alert-dismissible fade show" role="alert">-->
<!--                          <i class="mdi"></i>-->
<!--                          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec felis ligula, fringilla in volutpat sit amet, viverra nec mi. Donec at dui dolor.</span>-->

<!--                          <div class="task-content">-->
<!--                            <span data-dismiss="alert" aria-label="Close">-->
<!--                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"></path><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"></path></svg>-->
<!--                            </span>-->
<!--                          </div>-->
<!--                        </div>-->

<!--                        <div class="todo-single-item d-flex flex-row justify-content-between mb-1 alert alert-dismissible fade show" role="alert">-->
<!--                          <i class="mdi"></i>-->
<!--                          <span>Update parallax scroll on team page</span>-->

<!--                          <div class="task-content">-->
<!--                            <span data-dismiss="alert" aria-label="Close">-->
<!--                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"></path><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"></path></svg>-->
<!--                            </span>-->
<!--                          </div>-->
<!--                        </div>-->
                      </div>
                    </div>
                    <div class="mt-3"></div>
<!--                  </div>-->

<!--                </div>-->


        </div>
      </div>
    </div>
    </div>

    <div class="col-lg-8 col-xl-8">
      <div class="profile-content-right profile-right-spacing py-3">
        <ul class="nav nav-tabs px-3 px-xl-5 nav-style-border" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="timeline-tab" data-toggle="tab" href="#timeline" role="tab" aria-controls="timeline" aria-selected="true">点评发表记录</a>
          </li>
        </ul>

        <div class="tab-content px-3 px-xl-5" id="myTabContent">
          <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
            {% if user %}
            {% for question in questions %}
            {% if user.id == question.author_id %}
            <div class="media mt-1 profile-timeline-media timeline-media-spacing alert alert-dismissible fade show" role="alert">
              <div class="align-self-start iconbox-45 overflow-hidden mr-3">
                {% if question.author_id == 2 %}
                <img  src="{{ url_for('static', filename='img/user/u3.jpg')}}" class="img-fluid rounded-circle" alt="Generic placeholder image">
                {% elif question.author_id == 3 %}
                <img  src="{{ url_for('static', filename='img/user/u8.jpg')}}" class="img-fluid rounded-circle" alt="Generic placeholder image">
                {% else %}
                <img  src="{{ url_for('static', filename='img/user/u7.jpg')}}" class="img-fluid rounded-circle" alt="Generic placeholder image">
                {% endif %}
              </div>
              <div class="media-body">
                <form action="{{ url_for('qa.delete_zhuti')}}" method="post">
                <h6 class="mt-0 text-dark">{{question.author.username}}</h6>
                  <input type="hidden" name="question_id" value="{{ question.id }}">
<!--                <span class="float-right">{{question.create_time}}</span>-->
                <span class=" font-size-12 d-inline-block float-right" style="color:#8A909D;"><i class="mdi mdi-clock-outline"></i> {{question.create_time}}</span>
                  <div class="message-contents" >
                   <h5 class="font-weight-bold" style="margin-top:15px;">{{ question.title }}</h5>
                   <p style="margin-top:15px;">{{ question.content }}</p>
                 </div>
                  <button class="btn btn-light float-right">
<!--                    <span  data-dismiss="alert" aria-label="Close">-->
                   <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg">
                     <path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"></path><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"></path></svg>
<!--                 </span>-->
                  </button>
                </form>

<!--                {% if question.id == 1 %}-->
<!--                <div class="d-inline-block rounded overflow-hidden mt-3 mr-0 mr-lg-3">-->
<!--                  <img src="{{ url_for('static', filename='img/products/pa1.jpg')}}" style="width:200px;height:153px;" alt="Product">-->
<!--                </div>-->
<!--                {% elif question.id == 2 %}-->
<!--                <div class="d-inline-block rounded overflow-hidden mt-3 mr-0 mr-lg-3">-->
<!--                  <img src="{{ url_for('static', filename='img/products/pa2.jpg')}}" style="width:200px;height:153px;" alt="Product">-->
<!--                </div>-->
<!--                {% else %}-->
<!--                <div class="d-inline-block rounded overflow-hidden mt-3 mr-0 mr-lg-3">-->
<!--                  <img src="{{ url_for('static', filename='img/products/pa3.jpg')}}" style="width:200px;height:153px;" alt="Product">-->
<!--                </div>-->
<!--                {% endif %}-->
              </div>
            </div>
             {% endif %}
            {% endfor %}

                {% for question in popquestions %}
             {% if user.id == question.author_id %}
            <div class="media mt-1 profile-timeline-media timeline-media-spacing alert alert-dismissible fade show" role="alert">
              <div class="align-self-start iconbox-45 overflow-hidden mr-3">
                {% if question.author_id == 2 %}
                <img  src="{{ url_for('static', filename='img/user/u3.jpg')}}" class="img-fluid rounded-circle" alt="Generic placeholder image">
                {% elif question.author_id == 3 %}
                <img  src="{{ url_for('static', filename='img/user/u8.jpg')}}" class="img-fluid rounded-circle" alt="Generic placeholder image">
                {% else %}
                <img  src="{{ url_for('static', filename='img/user/u7.jpg')}}" class="img-fluid rounded-circle" alt="Generic placeholder image">
                {% endif %}
              </div>


                 <div class="media-body">
                   <form action="{{ url_for('qa.delete_pop')}}" method="post">
                   <h6 class="mt-0 text-dark" >{{question.author.username}}</h6>
                   <input type="hidden" name="question_id" value="{{ question.id }}">
                 <span class=" font-size-12 d-inline-block float-right" style="color:#8A909D;"><i class="mdi mdi-clock-outline"></i> {{question.create_time}}</span>
                 <div class="message-contents" >
                   <h5 class="font-weight-bold" style="margin-top:15px;">{{ question.title }}</h5>
                   <p style="margin-top:15px;">{{ question.content }}</p>
                 </div>
                  <button class="btn btn-light float-right">
<!--                    <span  data-dismiss="alert" aria-label="Close">-->
                   <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg">
                     <path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"></path><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"></path></svg>
<!--                 </span>-->
                  </button>
                    </form>
              </div>
            </div>
            {% endif %}
            {% endfor %}


                {% for question in rockquestions %}
             {% if user.id == question.author_id %}
            <div class="media mt-1 profile-timeline-media timeline-media-spacing alert alert-dismissible fade show" role="alert">
              <div class="align-self-start iconbox-45 overflow-hidden mr-3">
                {% if question.author_id == 2 %}
                <img  src="{{ url_for('static', filename='img/user/u3.jpg')}}" class="img-fluid rounded-circle" alt="Generic placeholder image">
                {% elif question.author_id == 3 %}
                <img  src="{{ url_for('static', filename='img/user/u8.jpg')}}" class="img-fluid rounded-circle" alt="Generic placeholder image">
                {% else %}
                <img  src="{{ url_for('static', filename='img/user/u7.jpg')}}" class="img-fluid rounded-circle" alt="Generic placeholder image">
                {% endif %}
              </div>

              <div class="media-body">
                <form action="{{ url_for('qa.delete_rock')}}" method="post">
                <h6 class="mt-0 text-dark">{{question.author.username}}</h6>
                  <input type="hidden" name="question_id" value="{{ question.id }}">
                 <span class=" font-size-12 d-inline-block float-right" style="color:#8A909D;"><i class="mdi mdi-clock-outline"></i> {{question.create_time}}</span>
              <div class="message-contents" >
                   <h5 class="font-weight-bold" style="margin-top:15px;">{{ question.title }}</h5>
                   <p style="margin-top:15px;">{{ question.content }}</p>
                 </div>
                  <button class="btn btn-light float-right">
<!--                    <span  data-dismiss="alert" aria-label="Close">-->
                   <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg">
                     <path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"></path><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"></path></svg>
<!--                 </span>-->
                  </button>
                </form>

<!--               {% if question.id == 1 %}-->
<!--                <div class="d-inline-block rounded overflow-hidden mt-3 mr-0 mr-lg-3">-->
<!--                  <img src="{{ url_for('static', filename='img/products/pa1.jpg')}}" style="width:200px;height:153px;" alt="Product">-->
<!--                </div>-->
<!--                {% elif question.id == 2 %}-->
<!--                <div class="d-inline-block rounded overflow-hidden mt-3 mr-0 mr-lg-3">-->
<!--                  <img src="{{ url_for('static', filename='img/products/pa2.jpg')}}" style="width:200px;height:153px;" alt="Product">-->
<!--                </div>-->
<!--                {% else %}-->
<!--                <div class="d-inline-block rounded overflow-hidden mt-3 mr-0 mr-lg-3">-->
<!--                  <img src="{{ url_for('static', filename='img/products/pa3.jpg')}}" style="width:200px;height:153px;" alt="Product">-->
<!--                </div>-->
<!--                {% endif %}-->
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
<!--            <p>请先登录</p>-->
            {% endif %}
          </div>

<!--          <div class="col-xl-6">-->

                  <!-- To Do list -->
<!--                        <div class="todo-single-item d-flex flex-row justify-content-between alert alert-dismissible fade show" role="alert">-->
<!--&lt;!&ndash;                          <i class="mdi"></i>&ndash;&gt;-->
<!--                          <span>Update parallax scroll on team page</span>-->

<!--                          <div class="task-content">-->
<!--                            <span data-dismiss="alert" aria-label="Close">-->
<!--                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"></path><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"></path></svg>-->
<!--                            </span>-->
<!--                          </div>-->
<!--                        </div>-->

<!--                        <div class="todo-single-item d-flex flex-row justify-content-between alert alert-dismissible fade show" role="alert">-->
<!--                          <i class="mdi"></i>-->
<!--                          <span>Integer et porta odio, pulvinar pretium eros. Curabitur vel tellus erat.</span>-->

<!--                          <div class="task-content">-->
<!--                            <span data-dismiss="alert" aria-label="Close">-->
<!--                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"></path><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"></path></svg>-->
<!--                            </span>-->
<!--                          </div>-->
<!--                        </div>-->

<!--                        <div class="todo-single-item d-flex flex-row justify-content-between alert alert-dismissible fade show" role="alert">-->
<!--                          <i class="mdi"></i>-->
<!--                          <span>Pellentesque blandit ut eros sed vehicula.</span>-->

<!--                          <div class="task-content">-->
<!--                            <span data-dismiss="alert" aria-label="Close">-->
<!--                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"></path><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"></path></svg>-->
<!--                            </span>-->
<!--                          </div>-->
<!--                        </div>-->

<!--                        <div class="todo-single-item d-flex flex-row justify-content-between alert alert-dismissible fade show" role="alert">-->
<!--                          <i class="mdi"></i>-->
<!--                          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec felis ligula, fringilla in volutpat sit amet, viverra nec mi. Donec at dui dolor.</span>-->

<!--                          <div class="task-content">-->
<!--                            <span data-dismiss="alert" aria-label="Close">-->
<!--                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"></path><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"></path></svg>-->
<!--                            </span>-->
<!--                          </div>-->
<!--                        </div>-->

<!--                        <div class="todo-single-item d-flex flex-row justify-content-between mb-1 alert alert-dismissible fade show" role="alert">-->
<!--                          <i class="mdi"></i>-->
<!--                          <span>Update parallax scroll on team page</span>-->

<!--                          <div class="task-content">-->
<!--                            <span data-dismiss="alert" aria-label="Close">-->
<!--                              <svg class="remove-task" id="Capa_1" enable-background="new 0 0 515.556 515.556" height="16" viewBox="0 0 515.556 515.556" width="16" xmlns="http://www.w3.org/2000/svg"><path class="" d="m64.444 451.111c0 35.526 28.902 64.444 64.444 64.444h257.778c35.542 0 64.444-28.918 64.444-64.444v-322.222h-386.666z"></path><path d="m322.222 32.222v-32.222h-128.889v32.222h-161.111v64.444h451.111v-64.444z"></path></svg>-->
<!--                            </span>-->
<!--                          </div>-->
<!--                        </div>-->
                    <div class="mt-3"></div>

        </div>
      </div>
    </div>
  </div>
</div>
      </div> <!-- End Content -->
{% endblock %}
